*{
    margin: 0;
    font-family: "Roboto Serif", serif;
}
.container_pages_app{
    display: flex;
    background-color: rgb(19,19,19);
}

.container2_pages_app{
    width: calc(100vw - 4rem);
    height: calc(100vh - 3.4rem);
    border-top: 2px solid rgba(128,128,128,0.45);
    /* color: white; */
}

::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 5rem;
}
.video_box{
    width: 21rem;
    height: 17rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
}

video{
    background-color: rgba(8,8,8,0.62);

}
.Channel_logo_App{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: rgb(224,227,214);
    display: flex;
    margin: auto;
}
.fstChar{
    margin: auto;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
/* .fstChar p{
    margin: auto;
  
} */