.video_Showvideo{
    cursor: pointer;
    margin: 0.4rem;
    margin-bottom: 0;
    border: 1px solid rgba(128,128,128,0.53);
    width: calc(100% - 0.8rem);
    height: 70%;
}

.video_description{
    display: flex;
    height: 4rem;
    margin: auto auto;
}